bin
proxy/acme.json
templates/server/.env
.env

acme.json
servers/sippar/apps/theres.ai/data/mongo-theresai/db
servers/sippar/apps/theres.ai/data
servers/sippar/apps/urban-lounge.fuentastic.com/state/seaweedfs
servers/sippar/apps/urban-lounge.fuentastic.com/.env.preview
servers/sippar/apps/lounge.b1zero.pl/state/seaweedfs
